body {
    font-family: 'Roboto', sans-serif;
}


header{
    height:150px;
    width:100vw;
    position:relative;
    font-family: 'Poppins', sans-serif;

}



.top_head {
    background-color: brown;
    
}

#tiger_face {
        height:5vw;
}

#tigris_logo {
      height:9vw;
}

.searchdiv {
    height:2vw;
    width:30vw;
    border:1px solid grey;
    background-color: white;

}

.ssearchbar {
    outline: none;
    height:2vw;
    width:25vw;
    border:none;
    background-color: transparent;
    
}

.search_symbol{
    display:block;
    
}

h4{
    position: absolute;
    top:18vw;
    color: brown;
    width:100vw;
    font-size: 1.7vw;
    }

.parent_abt {
    width:100vw;
}

.about {
    width:40vw;
    

}


.tiger_image {
  height:40vw;
  
}

.safari {
    width:22vw;
}



@media only screen and (max-width:1000px) {
    .searchdiv {
        height:3vw;
       
    }
    .ssearchbar {
        height:3vw;
    }

    h4{
        font-size: 2vw;
        text-align: center;
    }

}


@media only screen and (max-width:700px) {
#tiger_face {
        height:7vw;
}
#tigris_logo {
    height:10vw;
}

h4 {
    font-size:2.7vw;
    text-align: center;
    position: absolute;
    top:20vw;
    
}
}

@media only screen and (max-width:576px) {

    .parent_abt {
        gap:2rem;
    }
    .about {
        width:100vw;
         }

    .safari {
            width:40vw;
        }

    .tiger_image {
            height:80vw;
            width:85vw;
            
          }
          
}

@media only screen and (max-width:530px) {
    h4 {
        font-size:3.5vw;
        position: absolute;
        top:27vw;
    }
}

@media only screen and (max-width:450px) {
    #tiger_face {
            height:12vw;
    }

    #tigris_logo {
        height:20vw;
  }
  .searchdiv {
    height:6vw;
    width:55vw;
   
}
.ssearchbar {
    height:6vw;
    width:50vw;
    
}
h4{
    font-size: 4vw;
    position: absolute;
    top:35vw;
}

.footerlink {
    font-size: 3vw;
}

  
    }
@media only screen and (max-width:350px) {
        header{
         width:110vw;
        }

        h4{
            font-size: 5vw;
            position: absolute;
            top:40vw;
        }

        .safari {
            width:70vw;
        }

        .tiger_image {
            height:90vw;
            width:85vw;
            
          }
             }   

@media only screen and (max-width:300px){

    .searchdiv {
        height:10vw;
        width:55vw;
       
    }
    .ssearchbar {
        height:10vw;
        width:50vw;
        
    }
    h4{
        font-size: 5vw;
        position: absolute;
        top:44vw;
    }

}

@media only screen and (max-width:240px){ 
    h4{
        font-size: 6vw;
        position: absolute;
        top:55vw;
    }

}

@media only screen and (max-width:190px){ 
    h4{
        font-size: 7vw;
        position: absolute;
        top:90vw;
    }
}



 



@media only screen and (min-width:1100px) {
        header{
            height: 200px;
        }
         }




